@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
  box-sizing: border-box;  
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    font: 1em 'Outfit', sans-serif;
}

img {
    max-width: 100%;
    width: 100%;
}

.box-wrapper {
    width: 90%;
    min-height: 512px;
    background-color: hsl(0, 0%, 100%);
    padding: 16px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.14);
}

.box-wrapper .box-image img {
    border-radius: 20px;
}

.box-wrapper h1 {
    color: hsl(218, 44%, 22%);
    font-size: 1.5em;
}

.box-wrapper p {
    color: hsl(220, 15%, 55%);
}

.attribution { 
    font-size: 11px;
    text-align: center;
    margin-top: 40px;
}

.attribution a { 
    color: hsl(216.4, 95.4%, 57.6%); 
    text-decoration: none;
}

.attribution a:hover { 
    text-decoration: underline;
}

@media ( min-width: 767px ) {

    .box-wrapper {
        width: 72%;
    }

}

@media ( min-width: 992px ) {

    .box-wrapper {
        width: 332px;
    }

}
